/* Button.css */

.btn {
    background-color: whitesmoke; /* Green background */
    border: 2px solid transparent; /* Add border property */
    border-color: black;
    color: black; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
}
  
.btn:hover {
    background-color: black; /* Darker green */
    border-color: whitesmoke; /* Set border color */
    color: whitesmoke;
}
/* Add this CSS to target the body or a container */
.btn:hover ~ body {
    background-color: peru;
}
