/* Default styles */
.home-container {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set height to viewport height */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Media query for screens smaller than 600px (typical mobile screens) */
@media screen and (max-width: 600px) {
    .home-container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1em;
        margin-bottom: 10px;
    }
}
